<% layout('layout') -%>

<div id="side-nav" class="side-nav">
  <ul class="side-nav-link">
    <li><a class="nav-link active" href="#intro"><span>Our App</span>&nbsp;</a></li>
    <li><a class="nav-link" href="#app"><span>App 1</span>&nbsp;</a></li>
    <li><a class="nav-link" href="#app2"><span>App 2</span>&nbsp;</a></li>
    <li><a class="nav-link" href="#help"><span>Need Help?</span>&nbsp;</a></li>
  </ul>
</div>

<section id="intro" class="top-section">
  <div class="container">

    <div class="header-text">
      <h1>Our Apps</h1>
      <p>Unique AR Scanner that creates a mind-blowing virtual reality.</p>
    </div>
  </div>
</section>

<section id="app" class="section-padding portfolio-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          <h2>What does the app do?</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 align-self-center">
        <h3>Augmented Reality Marker Scanner</h3>
        <p>Sometimes technology is just about solving problems, sometimes it is about being fun, and sometimes it is for
          saying that we are grateful.</p>
        <p>The new Clevyr app is a neat little tool to show you some fun augmented reality from your Android or iOS
          phone. You can download the app below and
          then use it to view an augmented reality marker. You can find the marker in one of two places. If you have a
          card that we mailed to you, it is in
          there, or if you did not receive a card but still want to play along, we’ve provided a marker you can
          print.</p>
        <p>Can you imagine using this technology in your organization? We can. Contact us now and let’s chat.</p>
      </div>
      <div class="col-md-6">
        <div class="app-download">
          <h3>Download The App</h3>
          <ul class="row">
            <li class="col">
              <a class="btn" href="#"><img
                  src="<%= storageHost %>/images/apple-store.png"/> </a>
            </li>
            <li class="col">
              <a class="btn" href="#"><img
                  src="<%= storageHost %>/images/google-play-store.png"/> </a>
            </li>
          </ul>
        </div>
        <div class="details-link">
          <h3>Need A Marker?</h3>
          <div class="row">
            <div class="col">
              <a class="btn btn-theme-alt text-uppercase" href="#">Print Marker</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="section-padding portfolio-slider">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="owl-carousel owl-theme owl-portfolio owl-arrow">
          <div class="item">
            <img src="<%= storageHost %>/images/portfolio-1.jpg"/>
          </div>
          <div class="item">
            <img src="<%= storageHost %>/images/portfolio-1.jpg"/>
          </div>
          <div class="item">
            <img src="<%= storageHost %>/images/portfolio-1.jpg"/>
          </div>
          <div class="item">
            <img src="<%= storageHost %>/images/portfolio-1.jpg"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="app2" class="section-padding portfolio-section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          <h2>What does the app do?</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 align-self-center">
        <h3>Augmented Reality Marker Scanner</h3>
        <p>Sometimes technology is just about solving problems, sometimes it is about being fun, and sometimes it is for
          saying that we are grateful.</p>
        <p>The new Clevyr app is a neat little tool to show you some fun augmented reality from your Android or iOS
          phone. You can download the app below and
          then use it to view an augmented reality marker. You can find the marker in one of two places. If you have a
          card that we mailed to you, it is in
          there, or if you did not receive a card but still want to play along, we’ve provided a marker you can
          print.</p>
        <p>Can you imagine using this technology in your organization? We can. Contact us now and let’s chat.</p>
      </div>
      <div class="col-md-6">
        <div class="app-download">
          <h3>Download The App</h3>
          <ul class="row">
            <li class="col">
              <a class="btn" href="#"><img
                  src="<%= storageHost %>/images/apple-store.png"/> </a>
            </li>
            <li class="col">
              <a class="btn" href="#"><img
                  src="<%= storageHost %>/images/google-play-store.png"/> </a>
            </li>
          </ul>
        </div>
        <div class="details-link">
          <h3>Need A Marker?</h3>
          <div class="row">
            <div class="col">
              <a class="btn btn-theme-alt text-uppercase" href="#">Print Marker</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="section-padding portfolio-slider bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="owl-carousel owl-theme owl-portfolio owl-arrow">
          <div class="item">
            <img src="<%= storageHost %>/images/portfolio-1.jpg"/>
          </div>
          <div class="item">
            <img src="<%= storageHost %>/images/portfolio-1.jpg"/>
          </div>
          <div class="item">
            <img src="<%= storageHost %>/images/portfolio-1.jpg"/>
          </div>
          <div class="item">
            <img src="<%= storageHost %>/images/portfolio-1.jpg"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-padding-sm">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <a href="#" class="btn btn-theme btn-sm-wide text-uppercase">view more</a>
      </div>
    </div>
  </div>
</section>

<section id="help" class="section-padding cta-section bg-gray">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <h3>How can we help?</h3>
        <p>Whether its a small or large project, we would love to hear more about your application and how we can
          help.</p>
        <a class="btn btn-theme-alt text-uppercase btn-sm-wide" href="#">Talk with us</a>
      </div>
    </div>
  </div>
</section>
