<meta charset="UTF-8">
<!-- =================== /TITLE BOC ==================== -->
<title><%= title %></title>
<!-- =================== /TITLE EOC ==================== -->

<!-- =================== /META BOC ==================== -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Cache-Control"
      content="public,max-age=1800,max-stale,stale-while-revalidate=86400,stale-if-error=259200"
      rem="max-age=30minutes"/>

<meta name="fragment" content="!"/>
<meta name="viewport"
      content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
<meta name="robots" content="archive,follow,imageindex,index,odp,snippet,translate"/>

<meta name="description" content="<%= description %>">
<meta name="keywords" content="<%= keywords %>">
<meta name="msapplication-TileColor" content="#88bccd">
<meta name="theme-color" content="#ADD8E6">

<link rel="canonical" href="<%= host %><%= url %>"/>
<meta name="author" content="Author Name">
<meta name="Owner" content="<%= host %>"/>
<meta name="copyright" content="<%= host %>"/>

<meta name="url" content="<%= host %>">
<meta name="identifier-URL" content="<%= host %>">
<meta name="Classification" content="Business">
<meta name="subject" content="<%= description %>">

<!-- =======/declare that your website is family-safe=======-->
<meta name="target" content="all"/>
<meta name="audience" content="all"/>
<meta name="coverage" content="Worldwide"/>
<meta name="distribution" content="Global">
<meta name="og:type" content="website"/>
<meta name="rating" content="safe for kids"/>

<!-- ====== / allow smooth fade-in and declare the web-page is mobile-friendly====== -->
<meta name="HandheldFriendly" content="True"/>
<meta name="MSThemeCompatible" content="no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="translucent black"/>
<meta name="msapplication-navbutton-color" content="translucent black"/>
<meta name="mssmarttagspreventparsing" content="true"/>
<meta name="theme-color" content="#b1cff4"/>
<meta http-equiv="Page-Enter" content="RevealTrans(Duration=1.0,Transition=1)"/>
<meta http-equiv="Page-Exit" content="RevealTrans(Duration=1.0,Transition=1)"/>

<!-- =================== /META EOC ==================== -->

<!-- Facebook Open Graph data -->
<meta property="og:title" content="<%= title %>"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="<%= host %><%= url %>"/>
<meta property="og:image" content="<%= storageHost %>/images/logo.png"/>
<meta property="og:description" content="<%= description %>"/>
<meta property="og:site_name" content="<%= title %>"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:type" content="object"/>

<meta name="og:phone_number" content="844.425.3897"/>
<meta name="og:street-address" content="912 N. Classen Blvd"/>
<meta name="og:locality" content="Oklahoma"/>
<meta name="og:region" content="Oklahoma"/>
<meta name="og:postal-code" content="73106"/>
<meta name="og:country-name" content="US"/>

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@username">
<meta name="twitter:title" content="<%= title %>">
<meta name="twitter:description" content="<%= description %>">
<meta name="twitter:image:src" content="<%= storageHost %>/images/logo.png">
<!-- <meta name="twitter:creator" content=""> -->

<!-- =================== /WEB CSS/JAVASCRIPT BOC ==================== -->
<link rel="stylesheet" href="/css/style.min.css">

<script src="/js/scripts.min.js"></script>
<!-- =================== /WEB CSS/JAVASCRIPT EOC ==================== -->

<!-- ================ /GOOGLE FONT BOC =================== -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700">
<!-- ================ /GOOGLE FONT EOC =================== -->
