<% layout('layout') -%>

<div id="side-nav" class="side-nav">
  <ul class="side-nav-link">
    <li><a class="nav-link active" href="#intro"><span>Tech Stack</span>&nbsp;</a></li>
    <li><a class="nav-link" href="#partners"><span>Partners</span>&nbsp;</a></li>
    <li><a class="nav-link" href="#techWeLove"><span>Tech We Love</span>&nbsp;</a></li>
  </ul>
</div>
<section id="intro" class="top-section">
  <div class="container">

    <div class="header-text">
      <h1>Tech Stack</h1>
      <p>We are building a better tomorrow with today’s technology.</p>
    </div>
  </div>
</section>

<section id="partners" class="section-padding partner-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="line-title">
          <h2>Partners</h2>
        </div>
      </div>
      <div class="col-md-6">
        <figure>
          <img src="<%= storageHost %>/images/couchbase.svg" alt="image"/>
        </figure>
        <p>Couchbase’s mission is to be the data platform that revolutionizes digital innovation. To make this possible,
          Couchbase created the world’s first
          Engagement Database. Built on the most powerful NoSQL technology, the open source Couchbase Data Platform
          includes Couchbase Server and Couchbase
          Mobile. The platform provides unmatched agility and manageability – as well as unparalleled performance at any
          scale – to deliver ever-richer and
          ever more personalized customer experiences.</p>
      </div>
      <div class="col-md-6">
        <figure>
          <img src="<%= storageHost %>/images/exaptive.svg" alt="image"/>
        </figure>
        <p>Couchbase’s mission is to be the data platform that revolutionizes digital innovation. To make this possible,
          Couchbase created the world’s first
          Engagement Database. Built on the most powerful NoSQL technology, the open source Couchbase Data Platform
          includes Couchbase Server and Couchbase
          Mobile. The platform provides unmatched agility and manageability – as well as unparalleled performance at any
          scale – to deliver ever-richer and
          ever more personalized customer experiences.</p>
      </div>
    </div>
  </div>
</section>

<section id="techWeLove" class="section-padding tech-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="line-title">
          <h2>Tech we love</h2>
        </div>
      </div>
      <div class="col-12">
        <ul class="card-columns">
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/adobe.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/node-js.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/swift.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/babel.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/slack.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/wordpress.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/azure.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/bootstrap.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/consul.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/couchbase.png"
                                alt="image"/></li>
          <li class="card"><img
              src="<%= storageHost %>/images/tech-logo/digital-ocean.png" alt="image"/>
          </li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/docker.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/exaptive.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/github.png"
                                alt="image"/></li>
          <li class="card"><img
              src="<%= storageHost %>/images/tech-logo/google-cloud.png" alt="image"/>
          </li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/hashicorp.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/html-5.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/invision.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/ionic.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/javascript.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/merge.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/microsoft.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/mongodb.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/my-sql.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/nomad.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/office-360.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/postgre-sql.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/react.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/sass.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/sketch.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/terraform.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/unity.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/vault.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/vuforia.png"
                                alt="image"/></li>
          <li class="card"><img src="<%= storageHost %>/images/tech-logo/webpack.png"
                                alt="image"/></li>
        </ul>
      </div>
    </div>
  </div>
</section>
